# Dependencies for RL.
gymnasium
fastapi
uvicorn[standard]
opencv-python
einops
ray
ray[tune]
dm_tree
scipy
tensorflow[and-cuda]
tensorflow-probability[tf]
tf-keras

fastapi
jiwer
python-dotenv
requests
tqdm
pycocotools
uvicorn[standard]
pandas

# This is the til_environment package. You'll need this to train and test your
# RL model. You can import this package using `import til_environment`.
-e ./til-25-environment

# TODO: also have to do the following: 
# pip uninstall tree
# pip uninstall dm-tree
# pip install --upgrade ray
# pip install dm-tree

# pip install --upgrade tensorflow-probability