# Dependencies for RL.
gymnasium
fastapi
uvicorn[standard]
opencv-python
einops
ray
ray[tune]
ray[default]
ray[dashboard]
dm_tree
scipy
torch
tensorboard
stable_baselines3
stable_baselines3[extra]
sb3-contrib
supersuit
pettingzoo

fastapi
jiwer
python-dotenv
requests
tqdm
pycocotools
uvicorn[standard]
pandas
omegaconf